*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 93vh;
  background-image: url("http://mario5.florian-rappl.de/Content/backgrounds/01.png") ;
  animation: anima-fundo 13s steps(500) infinite;
}

.personagem {
  transition: all 0.09s linear;
  position: relative;
  left:10%;
  top: 50%;
}

.animate {
  width: 87px;
  height: 64px;
  background-image: url("../assets/frogs.png");
  background-repeat: no-repeat;
  animation: anima 0.5s steps(8) infinite;
}

.floor{
  position: relative;
  top:93vh;
  width: 100%;
  height: 7vh;
  background-image: url("../assets/floor.png");
  background-color: #934D2B;
  animation: anima-floor 0.5s steps(500) infinite;
}

.object-die{
  background-image: url("../assets/floor.png");
  border: 2px solid black;
  position: fixed;
  top:50vh;
  left:calc(100% - 100px);
  height: 100px;
  width: 100px;
  transition: all 0.05s linear;
}

.clouds{
  position: fixed;
  top:0vh;
  width: 100%;
  height: 20vh;
  background-image: url("../assets/clouds.png");
  animation: anima-clouds 1.5s steps(500) infinite;
}

.barraY{
  position: relative;
  height: 2px;
  width: 100vw;
  left:45%;
  border: 1px solid black;
}

.barraX{
  position: relative;
  height: 100vh;
  width: 2px;;
  left:45%;
  border: 1px solid black;
}

@Keyframes anima {
  from {
    background-position: 0px;
  }
  to {
    background-position: -695px;
  }
}
@Keyframes anima-fundo {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1024px;
  }
}

@Keyframes anima-floor {
  from {
    background-position: 0 0px;
  }
  to {
    background-position:  -100px 0;
  }
}

@Keyframes anima-clouds {
  from {
    background-position: 0 0px;
  }
  to {
    background-position:  -350px 0;
  }
}


@media screen and (max-width: 768px) {
    .screen {
        min-width: 768px;
    }
}
